input.ng-valid {
    border-left: 5px solid #42A948; /* green */
  }
  
  input.ng-invalid.ng-touched  {
    border-left: 5px solid #a94441; /* red */
  }

 
input[type="text"] {
  width: 220px;
}

input[type="password"]{
  width: 220px;
}

input[type="date"]{
  width: 220px;
}

#logo {
  height: 25px;
  vertical-align: middle;
}

.card-container.card {
  position: relative;
  max-width: 400px;
  padding-left: 80px;
  align-content: center;
}

.centered {
  position: fixed;
  top: 5%;
  left: 30%;
  margin-top: 50px;
  margin-left: 50px;
}





  

  

